<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<head>
    <title>Book Cover</title>
</head>
<body style="margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh; background: #fff;">

<div style="width: 350px; height: 500px; background: linear-gradient(135deg, #71eae8, #a6f784f7); color: white; padding: 20px; position: relative; border: 5px solid #fff;">

    <p style="font-size: 14px; font-weight: bold; color: yellow;"> A MILLION COPYSELLER</p>
    <hr>
    <h1 style="font-size: 30px; color: #000; font-weight: bold; text-align: center; line-height: 0,7;"><br>SAPIENS</h1>
    <hr>
    <p style="font-size: 24px; text-align: center;">A Brief History of HumanKind</p>
    
    <p style="font-size: 15px; text-align: center;">published by Penguin Random House</p>

<div style="display: flex; align-items: center;">
        
        <div style="position:absolute;bottom:100px;right:30px;width: 80px; height: 80px;border:5px solid grey;border-radius:25%;overflow:hidden;">
        <img src="static\author.jpg" alt="author.jpg" style="width: 100%; height: 100%;"></div>
            
    
        <div><p style="position:absolute;bottom:80px;font-size: 14px; margin: 0; left: 270px;">Yuval Noah Harari</p>
        <p style="position:absolute;bottom:65px;right:56px;font-size: 14px; margin: 0;">2014</p></div>
    
</div>

    <div style="position: absolute; bottom: 20px; left: 20px; font-size: 14px; font-weight: bold;">
         <img src="static\Yuval_Noah_Harari_signature.svg" alt="signature.svg" 
       style="width:100px; height:auto; margin-bottom:-12px;">
      <p style="margin: 5; color: red;">SPECIAL EDITION</p></div>
    

</div>

</body>
</html>

